{% extends 'base.html.twig' %}

{% block title %}Hello!
{% endblock %}

{% block body %}
	<h1 class="text-3xl font-bold underline">Hello here!</h1>
	<p><img src="{{ asset('images/beach.jpeg') }}"></p>
{% endblock %}
