<div id="toast-container" data-controller="toast" class="fixed top-5 right-4">
	{% for status in 'error|success|info'|split('|') %}
		{% for message in app.flashes(status) %}
			{% if '|notrans' in message %}
				{% set message = message|replace({'|notrans': '' }) %}
			{% else %}
				{% set message = message|trans %}
			{% endif %}
			{{ include('util/_toast.html.twig', { status: status, message: message }) }}
		{% endfor %}
	{% endfor %}
</div>
