{% block stream_success %}
	<turbo-stream action="prepend" targets="#stream-container">
		<template>
			<div class="text-green-700">Test {{ data.task }}</div>
		</template>
	</turbo-stream>
{% endblock %}
